<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrey.common">

    <application
        android:allowBackup="false"
        android:label="@string/app_name">

        <activity
            android:name=".view.photopick.likewchat.BasePhotoPickActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.carrey.common.PICK_PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.photopick.likewchat.PhotoViewActivity" />
    </application>


</manifest>
